<app-navbar></app-navbar>

<div class="ui stackable grid container">

  <div class="ui sixteen wide column">
    <br>
    <h1 class="ui header">Validations</h1>
    <p>Commit validations to blockchain secured storage</p>
  </div>

  <div class="ui sixteen wide column">
    <div class="ui cards">
      <div class="ui raised card" *ngFor="let validation of validations">
        <div class="content">
          <div class="header">{{ validation?.item?.serial_no }}</div>
          <div class="meta">
            <span class="category">Validated by: {{ validation?.validated_by?.first_name }} {{ validation?.validated_by?.last_name }}</span>
          </div>
          <div class="description">
            <p>Approved:
              <strong>{{ validation?.is_approved }}</strong>
            </p>
            <div class="ui horizontal label" [ngClass]="{ 'pink': validation.stage ==='artisan_production', 'purple': validation.stage === 'in_house_wip' }">
              {{ validation?.stage }}</div>
          </div>
        </div>
        <div class="extra content">
          <div class="ui green bottom attached button" (click)="commitTransaction(validation)">Commit to Blockchain</div>
        </div>
      </div>

    </div>
  </div>

</div>
