<div class="ui pointing inverted menu">
  <div class="ui container">
    <!-- <a href="#" class="header item">
      provJewellery
    </a> -->
    <a [routerLink]="['/']" class="item">Home</a>
    <a [routerLink]="['/designs']" class="item">Product designs</a>
    <a [routerLink]="['/productions']" class="item">Artisan productions</a>
    <a [routerLink]="['/deliveries']" class="item">Deliveries</a>
    <a [routerLink]="['/validations']" class="item">Validations</a>
    <a [routerLink]="['/items']" class="item">Inventory items</a>
    <a [routerLink]="['/wip']" class="item">Work in progress</a>
  </div>
</div>
