<app-navbar></app-navbar>

<div class="ui stackable grid container">

  <div class="ui sixteen wide column">
    <br>
    <h1 class="ui header">Title transfer</h1>
    <p>Commit title transfer transaction to blockchain secured storage</p>
  </div>

  <div class="ui sixteen wide column">
    <div class="ui cards">
      <div class="card" *ngFor="let transfer of transfers">
        <div class="content">
          <div class="header">
            Transfer for order {{ transfer?.order?.code }} {{ transfer?.order?.name }}
          </div>
          <div class="description">

            <sui-tabset>
              <div class="ui top attached tabular menu">
                <a class="item" suiTabHeader="1">Details</a>
                <a class="item" suiTabHeader="2">Items</a>
              </div>
              <div class="ui bottom attached segment" suiTabContent="1">
                <p>Purchase order:
                  <strong>{{ transfer?.order?.code }} {{ transfer?.order?.name }}</strong>
                </p>
                <p>Previous owner:
                  <strong>{{ transfer?.previous_owner }}</strong>
                </p>
                <p>Current owner:
                  <strong>{{ transfer?.current_owner }}</strong>
                </p>
              </div>
              <div class="ui bottom attached segment" suiTabContent="2">
                <ul class="ui list">
                  <li *ngFor="let item of transfer.items">
                    <strong>{{ item?.serial_no }}</strong>
                    {{ item?.product?.sku }} {{ item?.product?.name }}
                  </li>
                </ul>
              </div>

            </sui-tabset>

          </div>
        </div>
        <div class="extra content">
          <div class="ui green bottom attached button" (click)="commitTransaction(transfer)">Commit to Blockchain</div>
        </div>
      </div>
    </div>
  </div>

</div>
