<app-navbar></app-navbar>

<div class="ui grid container">

  <div class="ui sixteen wide column">
    <br>
    <h1 class="ui header">Prov Jewellery</h1>
    <p>Determine provenance for your handcrafted jewellery</p>
    <form id="search-form" class="ui action big input" [ngClass]="{ 'error': f.submitted && !s.valid }" #f="ngForm" novalidate
      (ngSubmit)="f.form.valid && searchProductDesigns()">
      <input type="text" name="searchInput" #s="ngModel" placeholder="Search..." [(ngModel)]="search" required>
      <button type="submit" class="ui teal button">
        <i class="search icon"></i>
        Search
      </button>
    </form>
  </div>

  <div class="ui sixteen wide column">
    <div class="ui raised segment grid" *ngFor="let design of designs">

      <div class="five wide column">
        <div class="ui card">
          <div class="image">
            <img src="{{ design?.images[0]?.file }}">
          </div>
          <div class="content">
            <a class="header">{{ design?.sku }}</a>
            <div class="description">
              {{ design?.name }}
            </div>
          </div>
          <div class="ui bottom attached green button">
            Validate
          </div>
        </div>
      </div>

      <div class="eleven wide column">

        <sui-accordion class="styled fluid">
          <sui-accordion-panel [isOpen]="true">
            <div title>
              <i class="dropdown icon"></i>
              Product design
            </div>
            <div content>
              <sui-tabset>
                <div class="ui top attached tabular menu">
                  <a class="item" suiTabHeader="1">Images</a>
                  <a class="item" suiTabHeader="2">Drawings</a>
                  <a class="item" suiTabHeader="3">Product design specification</a>
                  <a class="item" suiTabHeader="4">Bill of materials</a>
                  <a class="item" suiTabHeader="5">Designers</a>
                </div>
                <div class="ui bottom attached segment" suiTabContent="1">
                  <div class="ui tiny images">
                    <img class="ui image" *ngFor="let img of design?.images" src="{{ img?.file }}">
                  </div>
                </div>
                <div class="ui bottom attached segment" suiTabContent="2">
                  <div class="ui tiny images">
                    <img class="ui image" *ngFor="let drawing of design?.drawings" src="{{ drawing?.file }}">
                  </div>
                </div>
                <div class="ui bottom attached segment" suiTabContent="3">
                  <ul class="ui list">
                    <li class="item">
                      <div class="header">Category</div>
                      <div class="description">{{ design?.category }}</div>
                    </li>
                    <li class="item">
                      <div class="header">Collection</div>
                      <div class="description">{{ design?.collection }}</div>
                    </li>
                    <li class="item">
                      <div class="header">Year</div>
                      <div class="description">{{ design?.year }}</div>
                    </li>
                    <li class="item">
                      <div class="header">Color</div>
                      <div class="description">{{ design?.color }}</div>
                    </li>
                    <li class="item">
                      <div class="header">Size</div>
                      <div class="description">{{ design?.size }}</div>
                    </li>
                  </ul>
                </div>
                <div class="ui bottom attached segment" suiTabContent="4">
                  <ul class="ui list">
                    <li *ngFor="let bom of design.bill_of_materials">
                      {{ bom?.material?.name }} ({{ bom?.quantity }} {{ bom?.material?.units_of_measurement }})
                    </li>
                  </ul>
                </div>
                <div class="ui bottom attached segment" suiTabContent="5">
                  <ul class="ui list">
                    <li *ngFor="let designer of design.designers">
                      {{ designer.first_name }} {{ designer.last_name }}
                    </li>
                  </ul>
                </div>
              </sui-tabset>
            </div>
          </sui-accordion-panel>
          <sui-accordion-panel>
            <div title>
              <i class="dropdown icon"></i>
              Artisan production
            </div>
            <div content>
              <sui-tabset>
                <div class="ui top attached tabular menu">
                  <a class="item" suiTabHeader="1">Quantities</a>
                  <a class="item" suiTabHeader="2">Artisans</a>
                </div>
                <div class="ui bottom attached segment" suiTabContent="1">
                  <ul class="ui list">
                    <li class="item">
                      <div class="header">produced</div>
                      <div class="description">5</div>
                    </li>
                    <li class="item">
                      <div class="header">delivered</div>
                      <div class="description">5</div>
                    </li>
                  </ul>
                </div>
                <div class="ui bottom attached segment" suiTabContent="2">
                  <ul class="ui list">
                    <li *ngFor="let designer of design.designers">
                      {{ designer.first_name }} {{ designer.last_name }}
                    </li>
                  </ul>
                </div>
              </sui-tabset>

            </div>
          </sui-accordion-panel>
          <sui-accordion-panel>
            <div title>
              <i class="dropdown icon"></i>
              Quality and Assurance Validation
            </div>
            <div content>
              <p>Second panel content.</p>
            </div>
          </sui-accordion-panel>
          <sui-accordion-panel>
            <div title>
              <i class="dropdown icon"></i>
              Value addition (WIP)
            </div>
            <div content>
              <p>Second panel content.</p>
            </div>
          </sui-accordion-panel>
          <sui-accordion-panel>
            <div title>
              <i class="dropdown icon"></i>
              Ownership
            </div>
            <div content>
              <p>Second panel content.</p>
            </div>
          </sui-accordion-panel>
        </sui-accordion>

      </div>
    </div>

  </div>
</div>
